---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <main class="container mx-auto max-w-screen-lg p-6 lg:px-0">
    <h1 class="text-lg text-black font-bold">404</h1>
    <p>Page not found</p>
  </main>
</Layout>
